<!-- <p>
    editnoteview works!
</p>
<form [formGroup]="noteTakeForm" (ngSubmit)="addNote()">
    <div>
        <mat-form-field>
            <mat-label>Title for the note </mat-label>
            <input matInput type="text" formControlName="title">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Text for the note </mat-label>
            <textarea matInput cols="30" rows="10" formControlName="text"></textarea>
            <input matInput name="text" [(ngModel)]="note.text">
        </mat-form-field>
    </div>
    <div class="example-button-row">
        <button mat-button color="primary" type="submit">Update</button>
    </div>
</form> -->